.site-title {
    margin-right: 15px;
}

.site-nav {
    @media screen and (min-width: $on-medium) {
        position: static;
        float: right;
        border: none;
        background-color: inherit;

        label[for="nav-trigger"] {
            display: none;
        }

        .menu-icon {
            display: none;
        }

        input ~ .trigger {
            display: block;
        }

        .page-link {
            display: inline;
            padding: 0;

            &:not(:last-child) {
                margin-right: 15px;
            }
            margin-left: auto;
        }
    }
}
